* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 10px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.workspaces button:hover {
  color: #D35D6E;
}

* { all: unset; }

.parent {
    background-color: rgba($color: #000000, $alpha: 0.9);
    border-radius: 8px;
    border: 2px solid white;
    padding: 8px;
}

.header {
    font-weight: bold;
    font-size: large;
}

.title {
    margin-right: 50px;
    margin-left: 1px;
}

.button {
    margin-top: 8px;
    background-color: #333;
    border-radius: 8px;
    padding: 8px;
}

.button:hover {
    background-color: #222;
}

.button:active {
    background-color: #111;
}

.exit:hover {
    color: #f66;
}

.exit, .button {
    transition: all 0.2s ease;
}
